@page
@model IndexModel
@{
    ViewData["Title"] = "О ресторане";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в наш ресторан!</h1>
    <p style="font-size: 1.5em;">Наш ресторан предлагает лучшие блюда из свежих ингредиентов. 
        Мы гордимся нашим меню, которое включает разнообразные блюда, от классических до современных.</p>
    <h2>Часы работы:</h2>
    <p style="font-size: 1.2em;">Понедельник - Пятница: 10:00 - 22:00</p>
    <p style="font-size: 1.2em;">Суббота - Воскресенье: 12:00 - 24:00</p>
    <h2>Контактная информация:</h2>
    <p style="font-size: 1.2em;">Адрес: ул. Примерная, 123, Франкфурт-на-Майне</p>
    <p style="font-size: 1.2em;">Телефон: +49 123 456 789</p>
    <p style="font-size: 1.2em;">Email: info@restaurant.com</p>
</div>
